h1 {
  color: purple;
}

body {
  background-color: green;
}

.list-item {
  font-family: monospace;
}

#css-item {
  color: yellow;
}

#goal-list {
  border-style: solid;
  border-color: yellow;
  width: 10%;
}

#picture {
  width: 80%;
  float: right;
  border: solid;
  border-color: pink;
}
